html {
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.box {
    background-color: #444;
    min-height: 150px;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
    margin-bottom: 4px;
}

.custom-cols > [class^=col] {
    margin-bottom: 30px;
}

.custom-footer-cols > .box {
    height: calc(100% / 2 - 15px);
    min-height: 50px;
}

main .box {
    background-color: #999;
}
p{
    padding: 15px;
}
.white-color{
    color: white;
}
.text-position{
    position: relative;
    top: 50px;
    left: 50%;
}
.list-style{
    list-style-type: none;
}